body{
    font-family: sans-serif, cursive;
    background: #f2f2f2;
}

#container{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 820px;
}

.marca{
    height: 300px;
    background: #225992 url(cabecalho2.jpg) no-repeat center;
    line-height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.conteudo{
    width: 75%;
    float: right;
}
.conteudo1{
   width: 70%;
   float: left;
}
.conteudo2{
    width: 30%;
    float: right;
    line-height: 200%;
} 

.navegacao{
    width: 25%;
    padding: 10px 0;
    background: #d1d1d1;
    float: left;
}

footer{
    clear: both;
    background: #72727244;
    padding: 5px;
}

img.natureza{
    width: 96%;
    padding: 2%;
}